<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Colque Santiago</title>
</head>
<body>
<h1>MENU TP2</h1>

<ul>
    <li><a href="/calculoEdad?fecha=2003-07-09">calcular edad</a></li>
    <li><a href="/mostrarAlumnos">Mostrar listado de alumnos</a></li>
	<li><a href="/InversaCadena?inverso=Hola mundo">Mostrar inversa de una cadena</a></li>
	<li><a href="/InversaEnteros?num1=1&num2=2&num3=3&num4=4&num5=5&num6=6&num7=7&num8=8&num9=9&num10=10">Mostrar inversa de un  arreglo de enteros</a></li>
</ul>

</body>
</html>